<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MercadoLiebre</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://kit.fontawesome.com/5c1d5e9455.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <header> 
    <div class="header-top">
      <img src="./img/logo-mercado-liebre.svg" class="logo" width="300px" alt="logo">
      <form action="" method="get" class="busqueda">
        <input
        type="text"
        name=""
        id=""
        placeholder="Buscar productos, marcas">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
      <div class="titulo"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</div>
    </div>
    <nav class="barra">  
         <ul class="nav">
            <li><a href="#">Oferta</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <ul class="login">
          <li><a href="/registro">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
          <li><a href="#">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
          <li><a href="#">Mis compras <i class="fa-solid fa-bag-shopping"></i></a></li>
          </ul>
    </nav>
          <a href="#" class="centrar-hamburguesa">
            <i class="fa-solid fa-bars"></i>
          </a>
  </header>
  <main class="main-in">
   <form action="/crear-cuenta" method="GET" class="formulario">
      <label for="Apellidoynombre" class="modif-re">Apellido y Nombre:</label> <!--cada label con su input-->
      <input class="campo"
       type="text" 
       name="Apellidoynombre" 
       id="Apellidoynombre"
       /> 
      <label for="Nombredeusuario" class="modif-re">Nombre de usuario:</label> <!--cada label con su input-->
      <input 
      type="text" 
      name="Nombredeusuario" 
      id="Nombredeusuario"
      /> <!--En el for va el id-->
      <label for="email" class="modif-re">Email:</label>
      <input 
      type="email"
      name="email"
      id="email"
      />
      <label for="fecha-nac"class="modif-re">Fecha de nacimiento:</label> <!--cada label con su input-->
      <input
      type="date" 
      name="fecha-nac" 
      id="fecha-nac"
      /> <!--En el for va el id-->
      <label for="Domicilio" class="modif-re">Domicilio:</label> <!--cada label con su input-->
      <input
      type="text" 
      name="Domicilio" 
      id="Domicilio"
      /> <!--En el for va el id-->
      <label  class="modif-re" >Perfil de usuario:</label>
    <div class="prueba">
     <label>Comprador:</label> 
     <input type="radio" name="Perfil-usuario" value="Comprador"/> <!--Value es el valor-->
      <label>Vendedor:</label> 
      <input type="radio" name="Perfil-usuario" value="Vendedor"/> <!--Value es el valor sino podra seleccionar ambas-->
   </div> 
      <label class="modif-re">Intereses:</label>
      <label>Electro:</label>
      <input type="checkbox" name="Intereses" />
      <label>Moda:</label>
      <input type="checkbox" name="Intereses" />
      <label>Hogar:</label>
      <input type="checkbox" name="Intereses" />
      <label>Jugueteria:</label>
      <input type="checkbox" name="Intereses" />
      <label>Vida sana:</label>
      <input type="checkbox" name="Intereses" />
      
      <label class="modif-re">Foto de usuario:</label>
      <input type="file" name="foto-user" />

      <label for="passw" class="modif-re">Contraseña:</label> <!--cada label con su input-->
      <input
      type="password"
      name="passw" 
      id="passw"
       /> 
      <label for="confirmar-pas" class="modif-re">Confirmar Contraseña:</label> <!--cada label con su input-->
      <input 
      type="password" 
      name="confirmar-pas" 
      id="confirmar-pas"
      /> 
      <button type="submit" class="boton">Enviar</button>
      <button type="reset" class="boton">Borrar</button>
    </form>
  </main>
  <footer class="footer">
    <div><div class="centrar-tarjeta"><i class="fa-solid fa-credit-card"></i></div>
    <h2 class="centrar">Pagá con tarjeta o en efectivo</h2>
    <p class="centrar">Con Mercado Liebre Cash, tenés cuotas sin <br> 
      interés con tarjeta o efectivo en puntos de <br> 
      pago. ¡Y siempre es seguro! 
    </p></div>
    <div><div class="centrar-regalo"><i class="fa-solid fa-gift"></i></div> 
    <h2 class="centrar">Envío gratis desde $ 2.500</h2>
    <p class="centrar">Solo por estar registrad@ en Mercado Liebre<br> 
     tenés envíos gratis en miles de productos. Es<br>
     un beneficio de Mercado Puntos.
    </p></div>
    <div> <div class="centrar-escudo"><i class="fa-solid fa-user-shield"></i></div> 
    <h2 class="centrar">Seguridad, de principio a fin</h2>
    <p class="centrar">¿No te gusta? ¡Devolvelo! En Mercado Liebre<br> 
     no hay nada que no puedas hacer,porque <br> 
     estás siempre protegid@.
    </p></div>
    <div class="elemento">
      <p class="Yoko">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
  </footer>
</body>
</html>